        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'comptable.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'comptable.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'comptable.cin' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'comptable.cin' | translate}}" id="1" [(ngModel)]="item.cin"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validComptableCin}"  />
                                                    <small class='p-error' *ngIf='!validComptableCin'>Cin est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'comptable.prenom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'comptable.prenom' | translate}}" id="2" [(ngModel)]="item.prenom"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'comptable.nom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'comptable.nom' | translate}}" id="3" [(ngModel)]="item.nom"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'comptable.email' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'comptable.email' | translate}}" id="4" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'comptable.categorieComptable' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'comptable.categorieComptable' | translate}}" id="5" [(ngModel)]="item.categorieComptable"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
