    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'paiementComptableValidateur.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'paiementComptableValidateur.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'paiementComptableValidateur.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'paiementComptableValidateur.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validPaiementComptableValidateurCode}"  />
                                            <small class='p-error' *ngIf='!validPaiementComptableValidateurCode'>Code est obligatoire.</small>
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'paiementComptableValidateur.demande' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="demandes" [(ngModel)]="item.demande" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'paiementComptableValidateur.demande' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'paiementComptableValidateur.montant' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'paiementComptableValidateur.montant' | translate}}" [(ngModel)]="item.montant"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="4">{{'paiementComptableValidateur.comptableValidateur' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="comptableValidateurs" [(ngModel)]="item.comptableValidateur" id="4" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="cin" placeholder="{{'paiementComptableValidateur.comptableValidateur' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'paiementComptableValidateur.typePaiement' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="typePaiements" [(ngModel)]="item.typePaiement" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'paiementComptableValidateur.typePaiement' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'paiementComptableValidateur.datePaiement' | translate}}</label>
                                            <p-calendar appendTo="body" id="6"  [showTime]="true" [showSeconds]="false" placeholder="{{'paiementComptableValidateur.datePaiement' | translate}}"  [(ngModel)]="item.datePaiement"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
