    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'typeDemande.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'typeDemande.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'typeDemande.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'typeDemande.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTypeDemandeCode}"  />
                                            <small class='p-error' *ngIf='!validTypeDemandeCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'typeDemande.libelle' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'typeDemande.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTypeDemandeLibelle}"  />
                                            <small class='p-error' *ngIf='!validTypeDemandeLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'typeDemande.honnoraireComptableTraitant' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'typeDemande.honnoraireComptableTraitant' | translate}}" [(ngModel)]="item.honnoraireComptableTraitant"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'typeDemande.honnoraireComptableValidateur' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'typeDemande.honnoraireComptableValidateur' | translate}}" [(ngModel)]="item.honnoraireComptableValidateur"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
