<div class="container mt-5">
    <div class="container-fluid" >
        <div class="demande-section">
            <h2>Demandes Associées :</h2>
            <table class="table tableDemande table-hover">
                <thead>
                <tr>
                    <th>code</th>
                    <th>Libelle</th>
                    <th>Etat Demande</th>
                    <th>Societe</th>
                    <th>Comptable Traitant</th>
                    <th>Comptable Validateur</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let demande of demandesAssociees">
                    <td>{{ demande.code }}</td>
                    <td>{{ demande.libelle }}</td>
                    <td>{{ demande.etatDemande ? demande.etatDemande.libelle : '' }}</td>
                    <td>{{ demande.societe ? demande.societe.ice : '' }}</td>
                    <td>{{ demande.comptableTraitant ? demande.comptableTraitant.nom : '' }}</td>
                    <td>{{ demande.comptableValidateur ? demande.comptableValidateur.nom : '' }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button class="btn btn-primary " id="accepter" (click)="getDemandesAcceptees(demande.code)">Accepter</button>
                            <button class="btn btn-primary " id="refuser" (click)="getDemandeRefuse(demande.code)">Refuser</button>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
            <br>
            <br>
            <br>
            <h2>Demandes Acceptées :</h2>
            <table class="table tableDemande table-hover mt-3">
                <thead>
                <tr>
                    <th>code</th>
                    <th>Libelle</th>
                    <th>Etat Demande</th>
                    <th>Societe</th>
                    <th>Comptable Traitant</th>
                    <th>Comptable Validateur</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let demande of demandesAcceptees">
                    <td>{{ demande.code }}</td>
                    <td>{{ demande.libelle }}</td>
                    <td>{{ demande.etatDemande ? demande.etatDemande.libelle : '' }}</td>
                    <td>{{ demande.societe ? demande.societe.ice : '' }}</td>
                    <td>{{ demande.comptableTraitant ? demande.comptableTraitant.nom : '' }}</td>
                    <td>{{ demande.comptableValidateur ? demande.comptableValidateur.nom : '' }}</td>
                    <td>
                        <button class="btn btn-primary mr-2" id="finaliser" (click)="finaliserDemande(demande.code)">Finaliser</button>
                    </td>
                </tr>
                </tbody>
            </table>


            <br>
            <br>
            <br>
            <h2>Demandes Refusées :</h2>
            <table class="table tableDemande table-hover mt-3">
                <thead>
                <tr>
                    <th>code</th>
                    <th>Libelle</th>
                    <th>Etat Demande</th>
                    <th>Societe</th>
                    <th>Comptable Traitant</th>
                    <th>Comptable Validateur</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let demande of demandesRefuser">
                    <td>{{ demande.code }}</td>
                    <td>{{ demande.libelle }}</td>
                    <td>{{ demande.etatDemande ? demande.etatDemande.libelle : '' }}</td>
                    <td>{{ demande.societe ? demande.societe.ice : '' }}</td>
                    <td>{{ demande.comptableTraitant ? demande.comptableTraitant.nom : '' }}</td>
                    <td>{{ demande.comptableValidateur ? demande.comptableValidateur.nom : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





