        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'demandePieceJoint.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'demandePieceJoint.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'demandePieceJoint.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'demandePieceJoint.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validDemandePieceJointCode}"  />
                                                    <small class='p-error' *ngIf='!validDemandePieceJointCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'demandePieceJoint.libelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'demandePieceJoint.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validDemandePieceJointLibelle}"  />
                                                    <small class='p-error' *ngIf='!validDemandePieceJointLibelle'>Libelle est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="3">{{'demandePieceJoint.demande' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="demandes" [(ngModel)]="item.demande" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'demandePieceJoint.demande' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'demandePieceJoint.path' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'demandePieceJoint.path' | translate}}" id="4" [(ngModel)]="item.path"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
