
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'paiementComptableTraitant.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'paiementComptableTraitant.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'paiementComptableTraitant.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementComptableTraitant.code' | translate}}" autofocus  id="1" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'paiementComptableTraitant.demande' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementComptableTraitant.demande' | translate}}" autofocus  id="2" [ngModel]="item.demande?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'paiementComptableTraitant.montant' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'paiementComptableTraitant.montant' | translate}}" [ngModel]="item.montant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'paiementComptableTraitant.comptableTraitant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementComptableTraitant.comptableTraitant' | translate}}" autofocus  id="4" [ngModel]="item.comptableTraitant?.cin">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'paiementComptableTraitant.typePaiement' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementComptableTraitant.typePaiement' | translate}}" autofocus  id="5" [ngModel]="item.typePaiement?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'paiementComptableTraitant.datePaiement' | translate}}</label>
                        <p-calendar id="6" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paiementComptableTraitant.datePaiement' | translate}}"  [ngModel]="item.datePaiement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



